/* ==========================================================================
   Custom styles
   ========================================================================== */
#container{
    width: 960px;
    height: 640px;
    margin: 0 auto;
    position: relative;
    background: url(../img/bg-1-bw.jpg) no-repeat;
}

.block {
    width: 150px;
    height: 150px;
    background: #fff;
    position: absolute;
    border: 3px solid rgba(255, 255, 255, .35);
    -webkit-box-shadow: 0px 0px 80px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 0px 80px rgba(50, 50, 50, 0.6);
    text-align: center;
    font-size: 100px;
    line-height: 150px;
    color: #eee;
    overflow: hidden;
    background: url(../img/bg-1.jpg) no-repeat;
    transition: top 1s ease-in-out, left 1s ease-in-out, background-position 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out, left 1s ease-in-out, background-position 1s ease-in-out;
}